.roam-article .rm-block-children {
  display: none;
}
.rs-arrow-label__inner {
  min-width: initial;
}
kbd.tlui-kbd {
  background-color: initial;
  box-shadow: initial;
  border-radius: initial;
  padding: initial;
}
#roamjs-tldraw-canvas-container
  .rs-shape
  .roamjs-tldraw-node
  .rm-block-main
  .rm-block-separator {
  display: none;
}
/* arrow label line fix */
/* seems like width is being miscalculted cause letters to linebreak */
/* TODO: this is a temporary fix */
/* also Roam is hijacking the font choice */
.rs-arrow-label .rs-arrow-label__inner p {
  padding: 0;
  white-space: nowrap;
  font-family: var(--rs-font-sans);
}
